{% extends "wagtailadmin/pages/index.html" %}
{% load wagtailadmin_tags admin_explorer_tags %}

{% block bodyclass %}page-explorer {% if ordering == 'ord' %}w-overflow-visible{% endif %}{% endblock %}

{% block titletag %}{% ownpaper_explorer_title parent_page header_title as ownpaper_header_title %}Explorando: {{ ownpaper_header_title }}{% endblock %}

{% block header %}
    {% page_permissions parent_page as parent_page_perms %}
    {% ownpaper_explorer_title parent_page header_title as ownpaper_header_title %}
    {% include 'wagtailadmin/pages/page_listing_header.html' with title=ownpaper_header_title search_url=index_results_url page_perms=parent_page_perms buttons=header_buttons %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% versioned_static 'wagtailadmin/js/privacy-switch.js' %}"></script>
{% endblock %}
