{% load i18n %}

<div class="auth-actions">
  {% if wizard.steps.prev %}
    <button
      name="wizard_goto_step"
      type="submit"
      value="{{ wizard.steps.prev }}"
      class="btn btn-secondary"
    >
      {% trans "Voltar" %}
    </button>
  {% else %}
    <button disabled name="" type="button" class="btn btn-secondary">{% trans "Voltar" %}</button>
  {% endif %}

  <button type="submit" class="btn btn-primary">{% trans "Próximo" %}</button>
  <a href="{% url 'two_factor:login' %}" class="btn btn-secondary">Início</a>
</div>
