{% load wagtailimages_tags %}

<div class="imagem-no-corpo">
    <figure class="imagem-item">
        {% if item.imagem %}
            {% image item.imagem max-900x1600 %}
        {% else %}
            <div class="imagem-pendente-aprovacao">
                Imagem aguardando aprovação editorial.
            </div>
        {% endif %}

        {% if item.titulo or item.legenda %}
            <figcaption class="imagem-legenda">
                {% if item.titulo %}
                    <strong>{{ item.titulo }}</strong>
                {% endif %}

                {% if item.legenda %}
                    <div>{{ item.legenda|linebreaks }}</div>
                {% endif %}
            </figcaption>
        {% endif %}
    </figure>
</div>
