{# Tags de verificacao e rastreamento configuradas via ConfiguracaoSite #}

{% if config_site.google_search_console_verification %}
    <meta name="google-site-verification" content="{{ config_site.google_search_console_verification }}">
{% endif %}

{% if config_site.meta_domain_verification %}
    <meta name="facebook-domain-verification" content="{{ config_site.meta_domain_verification }}">
{% endif %}

{% with consent=request.COOKIES.ownpaper_cookie_consent|default:'' %}
    {% if consent == "all" %}
        {% if config_site.google_tag_manager_id %}
            <script>
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{ config_site.google_tag_manager_id|escapejs }}');
            </script>
        {% elif config_site.google_analytics_id %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ config_site.google_analytics_id|urlencode }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ config_site.google_analytics_id|escapejs }}');
            </script>
        {% endif %}

        {% if config_site.meta_pixel_id %}
            <script>
                !function(f,b,e,v,n,t,s)
                {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                n.callMethod.apply(n,arguments):n.queue.push(arguments)};
                if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
                n.queue=[];t=b.createElement(e);t.async=!0;
                t.src=v;s=b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t,s)}(window, document,'script',
                'https://connect.facebook.net/en_US/fbevents.js');
                fbq('init', '{{ config_site.meta_pixel_id|escapejs }}');
                fbq('track', 'PageView');
            </script>
        {% endif %}

        {% if config_site.plausible_domain and config_site.plausible_script_url %}
            <script defer data-domain="{{ config_site.plausible_domain|escape }}" src="{{ config_site.plausible_script_url|escape }}"></script>
        {% endif %}

        {% if config_site.umami_website_id and config_site.umami_script_url %}
            <script defer data-website-id="{{ config_site.umami_website_id|escape }}" src="{{ config_site.umami_script_url|escape }}"></script>
        {% endif %}

        {% if config_site.matomo_site_id and config_site.matomo_url %}
            <script>
                var _paq = window._paq = window._paq || [];
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u = '{{ config_site.matomo_url|escapejs }}';
                    if (u.slice(-1) !== '/') { u += '/'; }
                    _paq.push(['setTrackerUrl', u + 'matomo.php']);
                    _paq.push(['setSiteId', '{{ config_site.matomo_site_id|escapejs }}']);
                    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                    g.async = true;
                    g.src = u + 'matomo.js';
                    s.parentNode.insertBefore(g, s);
                })();
            </script>
        {% endif %}
    {% endif %}
{% endwith %}
