{% load static %}
{% with consent=request.COOKIES.ownpaper_cookie_consent|default:'' %}
    {% if consent == "all" %}
        {% if config_site.estatisticas_internas_ativas %}
            <script type="text/javascript" src="{% static 'js/site-engagement.js' %}?v=20260528-02" defer></script>
        {% endif %}

        {% if config_site.google_tag_manager_id %}
            <noscript>
                <iframe
                    src="https://www.googletagmanager.com/ns.html?id={{ config_site.google_tag_manager_id|urlencode }}"
                    height="0"
                    width="0"
                    style="display:none;visibility:hidden"
                ></iframe>
            </noscript>
        {% endif %}

        {% if config_site.meta_pixel_id %}
            <noscript>
                <img
                    height="1"
                    width="1"
                    style="display:none"
                    alt=""
                    src="https://www.facebook.com/tr?id={{ config_site.meta_pixel_id|urlencode }}&ev=PageView&noscript=1"
                >
            </noscript>
        {% endif %}
    {% endif %}
{% endwith %}
