{% load static %}
{% include "includes/site_favicon.html" %}
<link rel="stylesheet" href="{% static 'vendor/bulma/bulma.min.css' %}?v=20260501-01">
<link rel="stylesheet" href="{% static 'css/config.css' %}?v=20260501-01">
<link rel="stylesheet" href="{% static 'css/site-bulma.css' %}?v=20260624-01">
<link rel="stylesheet" href="{% static 'css/menu-principal.css' %}?v=20260501-01">
<link rel="stylesheet" href="{% static 'css/rodape-site.css' %}?v=20260501-01">
{% include "includes/tema_site.html" %}
