{% load static wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Categorias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if config_site.favicon %}
        {% image config_site.favicon fill-32x32 format-webp as favicon_32 %}
        <link rel="icon" type="image/webp" href="{{ favicon_32.url }}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/pages/categorias-index.css' %}">
    {% include "includes/rastreamento_head.html" %}

</head>
<body>
    {% include "includes/rastreamento_body.html" %}

    {% include "includes/menu_principal.html" %}

    <h1>Categorias</h1>

    <div class="lista">
        {% for categoria in categorias %}
            <article class="card">
                <h2>
                    <a href="/categorias/{{ categoria.slug }}/">{{ categoria.nome }}</a>
                </h2>

                {% if categoria.descricao %}
                    <div>{{ categoria.descricao|linebreaks }}</div>
                {% endif %}
            </article>
        {% empty %}
            <p>Nenhuma categoria cadastrada ainda.</p>
        {% endfor %}
    </div>
{% include "includes/rodape_site.html" %}
</body>
</html>
