{% load static wagtailcore_tags wagtailimages_tags %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Tag: {{ tag.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if config_site.favicon %}
        {% image config_site.favicon fill-32x32 format-webp as favicon_32 %}
        <link rel="icon" type="image/webp" href="{{ favicon_32.url }}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/pages/publicacoes-por-tag.css' %}">
    {% include "includes/rastreamento_head.html" %}

</head>
<body>
    {% include "includes/rastreamento_body.html" %}

    {% include "includes/menu_principal.html" %}
    <h1>Tag: {{ tag.name }}</h1>

    <p><a href="/">← Voltar para a página inicial</a></p>

    <section class="lista">
        {% for item in publicacoes %}
            <article class="card">
                <h2><a href="{% pageurl item %}">{{ item.title }}</a></h2>

                {% if item.imagem_capa %}
                    <div class="capa">
                        {% image item.imagem_capa width-180 %}
                    </div>
                {% endif %}

                {% if item.resumo %}
                    <div>
                        {{ item.resumo|richtext }}
                    </div>
                {% endif %}
            </article>
        {% empty %}
            <p>Nenhuma publicação encontrada para esta tag.</p>
        {% endfor %}
    </section>
{% include "includes/rodape_site.html" %}
</body>
</html>
