{% load static %}
<!DOCTYPE html>
<html lang="{{ site_lang|default:"pt-br" }}">
<head>
    <meta charset="utf-8">
    <title>{{ config_site.modo_manutencao_titulo }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pages/manutencao-site.css' %}?v=20260428-02">
    {% include "includes/rastreamento_head.html" %}

</head>
<body>
    {% include "includes/rastreamento_body.html" %}

    <div class="caixa">
        <h1>{{ config_site.modo_manutencao_titulo }}</h1>
        <p>{{ config_site.modo_manutencao_mensagem }}</p>
    </div>
</body>
</html>
